{% extends "layout.html" %}

{% block title %} About {% endblock %}

{% block navbar %} 
    {% for navbarItem in navbarList %}
        <a href=""> {{navbarItem}} </a>
    {% endfor %}
{% endblock %}

{% block body %}
    <h1>Our Mission</h1>
    <img src="static/images/adopt-about.jpg" alt="animalsabout">
    <p>
        Nunc arcu sapien, consectetur congue nisi ac, ultricies viverra velit. Duis nec dignissim libero. Donec sed tempus ante. Aenean vel malesuada nibh, eu tincidunt tellus. Nullam hendrerit euismod odio in tristique. Suspendisse vulputate, arcu luctus sodales molestie, ante lorem dictum lacus, eget ultricies nisl ex eget ipsum. Proin pellentesque ante nec fringilla interdum. Phasellus tincidunt volutpat varius. Vestibulum rhoncus hendrerit mauris eget finibus. In ornare ante in erat sagittis, quis tincidunt eros fringilla. Sed ultrices magna in fermentum commodo. Fusce ullamcorper, eros eu bibendum ultricies, risus nisi faucibus orci, ut viverra diam massa ut mi. Sed molestie aliquam nulla id luctus. Nulla facilisi.
    </p>
    <p>
        Aliquam augue quam, mollis at aliquam nec, venenatis ut nibh. Aliquam efficitur faucibus purus, vel dictum urna accumsan ac. Phasellus id pharetra dui, a condimentum ipsum. Integer eu enim sed libero lobortis molestie ac a eros. Sed consectetur gravida arcu quis sodales. Nulla in massa vitae eros auctor rutrum. Suspendisse lorem neque, tempus in mauris a, facilisis accumsan massa. Aliquam faucibus vulputate lacus, a tincidunt augue. Pellentesque et lacinia est.
    </p>
    <p>
        Maecenas euismod in nisi eget suscipit. Aenean lobortis leo suscipit est accumsan, non consectetur massa bibendum. Praesent fringilla metus eros, vel pharetra ipsum facilisis et. Proin porttitor nibh nec felis auctor, nec aliquet augue lacinia. Quisque ligula nulla, bibendum ut nisl eu, bibendum elementum purus. Integer aliquam, urna placerat aliquam efficitur, orci tellus aliquet est, at placerat felis libero at justo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris commodo, libero nec mollis euismod, nulla sem volutpat tellus, sed gravida nisi diam in velit. Maecenas rhoncus ornare ipsum sit amet placerat.
    </p>
    <p>
        Duis pellentesque metus ac posuere ornare. Maecenas fermentum elit et ante ullamcorper dictum. Fusce eu magna augue. Integer aliquam lacinia vulputate. Aliquam neque libero, semper eget faucibus vel, aliquam nec nibh. Phasellus laoreet tristique tincidunt. Aliquam ut velit et augue aliquam pharetra.
    </p>
{% endblock %}
