{% extends "layout.html" %}

{% block title %} Adopt {% endblock %}

{% block navbar %} 
    {% for navbarItem in navbarList %}
        <a href=""> {{navbarItem}} </a>
    {% endfor %}
{% endblock %}

{% block body %}
    <h2>Cras Mollis Vel Sapien</h2>
    <p>
        Ut nec dolor nulla. Nam porttitor nibh in placerat convallis. Vestibulum vulputate, elit tincidunt faucibus pretium, turpis nulla faucibus nisi, eu porttitor augue erat sit amet diam. Nunc id iaculis metus. Integer nec gravida arcu. Fusce eu posuere sapien. Sed ultricies tellus non varius ultricies. Sed sollicitudin nunc eget ex hendrerit, quis mollis nibh viverra. Praesent malesuada leo congue nibh tincidunt pretium. Curabitur convallis leo urna, non tincidunt magna porttitor vel. Phasellus tincidunt magna ac mollis convallis. Curabitur pellentesque nec leo vel consectetur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris lobortis tortor non dui bibendum posuere. Proin egestas nec massa ut pretium. Aliquam augue justo, sollicitudin sit amet mi sed, auctor commodo neque.
        Aenean vestibulum rhoncus lacus, in rhoncus lacus eleifend in. Duis commodo tellus vitae nibh fermentum sagittis. Sed dapibus, turpis ac elementum hendrerit, orci nulla fermentum eros, ut scelerisque ex mi id dui. Nam sed erat nec erat interdum vestibulum. Nulla convallis eros vitae nulla placerat eleifend. Integer eleifend sit amet dolor eu tincidunt. Maecenas vulputate eget felis tincidunt tristique. Suspendisse lacinia feugiat justo at tempor. Vestibulum eget justo a est ornare rutrum vel non est. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce accumsan, sem eleifend dignissim rhoncus, elit turpis tempus dolor, et elementum ante ipsum ac dolor. Praesent ac quam gravida, lacinia arcu in, sollicitudin lorem. Vestibulum ipsum ligula, varius a ipsum at, ullamcorper ultricies sapien.
    </p>
{% endblock %}
