{% extends "layout.html" %}

{% block title %} Community {% endblock %}

{% block body %}
    <h1>Community Blog</h1>
    {% for post in posts %}
        <div class="blogPost">
            <a href="{{ url_for('edit', postID=post['id']) }}"><h2 class="blogPostTitle">{{ post['title'] }}</h2></a>
            <p class="blogPostContent">{{ post['content'] }}</p>
        </div>
    {% endfor %}
    
    <div>
        <h2>Post to the Community!</h2>
    </div>
    <form class="blogPostForm" method="post">
        <div class="blogPostFormTitle">
            <label for="title">Title:</label>
            <input class="blogPostFormTitleBox" type="text" name="title" placeholder="Post Title" value="{{ request.form['title'] }}">
        </div>
        <div class="blogPostFormContent">
            <label for="content">Content:</label>
            <textarea class="blogPostFormContentBox" name="content" placeholder="Post Content" rows="5">{{ request.form['content'] }}</textarea>
        </div>
        <button class="blogPostFormSubmit" type="submit">
            Post
        </button>
    </form>
{% endblock %}
