{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% block body %}
    <h1>Orci Varius Adoption Center</h1>
    <img src="static/images/adopt-banner.jpg" alt="animalsbanner">
    <h3 class="sectionTitle">Etiam sit</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in est pellentesque lectus volutpat tempor. Cras pulvinar rutrum nulla, a interdum odio aliquam aliquet. Phasellus sit amet varius nibh. Proin mauris ligula, lacinia vel commodo non, interdum a tellus. Nulla ornare arcu nisl. Etiam ac leo nisi. Etiam dictum auctor pretium. Fusce volutpat velit eget magna pulvinar, sed ultricies augue consectetur. Aenean vulputate lacinia dui sit amet egestas. Suspendisse facilisis urna vel ipsum sodales luctus. In hac habitasse platea dictumst. Donec nec lectus diam. Sed in est metus. Proin in dolor in elit efficitur aliquam. Aliquam erat volutpat.
    </p>
    <p>
        Proin dapibus, odio ut vehicula fermentum, justo urna porta justo, a scelerisque est eros nec nisl. Nunc nec imperdiet leo. Donec aliquam lacinia erat, ut sodales lorem hendrerit at. Vestibulum id maximus metus. Duis rhoncus dapibus ipsum. Integer feugiat, turpis vel pulvinar lobortis, ligula diam sodales nunc, ut porttitor ex est in urna. Nulla interdum hendrerit mattis. Vestibulum aliquet ornare consequat. Duis ex odio, malesuada porta gravida et, tempor sit amet erat. Pellentesque maximus erat odio, ac venenatis lectus commodo id. Morbi nec efficitur lectus, ut auctor libero. Nunc a varius nisl, et bibendum diam. Nullam imperdiet interdum eros sit amet mattis. Proin euismod pretium ante eget faucibus. Ut aliquet, magna rutrum ultricies consectetur, dolor purus porta lectus, id faucibus elit mauris ut nulla.
    </p>
    <h3 class="sectionTitle">Nulla semper</h3>
    <p>
        Donec a elit ultrices eros luctus congue sit amet et dolor. Donec sit amet aliquam erat, sed placerat nisl. Donec ut ultrices est. In ullamcorper viverra turpis id bibendum. Cras commodo odio ac eros consectetur posuere. Vestibulum porttitor pellentesque elit eu tincidunt. Vestibulum vestibulum ultricies commodo. Praesent consectetur odio ac magna egestas, et consectetur massa euismod. Morbi et sodales orci. Mauris ut ligula vel ipsum pharetra congue. Aliquam quis efficitur urna, id bibendum eros. Suspendisse tempor felis vitae nulla vehicula finibus. Donec eu finibus massa, a cursus eros. Sed eget nisl ac elit tristique finibus. Phasellus vehicula arcu turpis, sed tempor diam tincidunt at. Maecenas sollicitudin dui et faucibus convallis.
    </p>
    <p>
        Fusce erat nunc, imperdiet vitae vehicula ac, dapibus id massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer eu varius enim. Duis ante purus, auctor vitae facilisis nec, iaculis dictum ante. Pellentesque hendrerit nisi leo, eget molestie nisi fermentum a. Etiam varius libero eget augue ultrices feugiat. Mauris semper posuere luctus. Duis laoreet nisi ac tellus hendrerit, at finibus ipsum blandit. Aliquam eu tortor vel justo mollis dapibus a vitae tellus. Donec dignissim sapien urna, eu facilisis tellus congue eget. Cras tincidunt purus maximus tortor ultrices vehicula. Fusce vel feugiat turpis.
    </p>
    <h3 class="sectionTitle">Aenean</h3>
    <p>
        Aliquam tristique mauris quis nisi eleifend tincidunt. Duis iaculis ornare nulla, sed vehicula arcu ornare in. Donec lorem est, hendrerit sit amet nulla sed, laoreet condimentum mi. Proin iaculis mauris libero, pulvinar suscipit orci molestie a. Morbi felis nibh, facilisis ac eros at, semper consequat nisi. Aenean suscipit sit amet libero ut tincidunt. Nulla dictum eros neque, sit amet sagittis dolor dictum in. Curabitur ornare, ligula eu faucibus lobortis, lorem dui pretium ipsum, at tincidunt ante purus volutpat dui. Etiam id odio diam.
    </p>
{% endblock %}
