<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" href="static/css/style.css">
        <title>{% block title%} {% endblock%} - Landing Page</title>
    </head>
    <body>
        <header id="titleBanner">
            <h1>Pet Adoption Landing Page</h1>
        </header>
        <div id="navigationBar">
            {% block navbar %} {% endblock %}
        </div>

        <div id="content">
            {% block body %} {% endblock %}
        </div>
    </body>
</html>
