<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" href="static/css/style.css">
        <title>{% block title%} {% endblock%} - Landing Page</title>
    </head>
    <body>
        <header id="titleBanner" class="headerBanner">
            <h1 id="banner">Pet Adoption Landing Page</h1>
            <img src="static/images/adopt-logo.png" id="logo" alt="logo">
        </header>
        <div id="navigationBar">
            {% block navbar %} {% endblock %}
        </div>

        <div id="content">
            {% block body %} {% endblock %}
        </div>
    </body>
</html>
