<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
        <title>{% block title%} {% endblock%} - Landing Page</title>
    </head>
    <body>
        <header id="headerBanner">
            <h1>Pet Adoption Landing Page</h1>
            <img src="../static/images/adopt-logo.png" id="logo" alt="logo">
        </header>
        <div id="navigationBar">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('adopt') }}">Adopt</a>
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('reviews') }}">Reviews</a>
            <a href="{{ url_for('community') }}">Community</a>
        </div>

        <div id="content">
            {% block body %} {% endblock %}
        </div>
    </body>
    <footer>
        Pet Adoption Landing Page est. 2023
    </footer>
</html>
